body {
    background: #ffffff;
}

.bg-test {
    width: 100%;
    height: 100%;

    background-image: url(https://ak.picdn.net/offset/photos/6001e55b6f52af4409f92305/large_w/offset_1078195.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}