.box1 {
    width: 600px;
    height: 100px;
    background-color: rgb(180, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
    border-radius: 25px;
}
.box2 {
    width: 600px;
    height: 100px;
    background-color: rgb(180, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: auto;
    margin-top: 5px;
    border-radius: 25px;

} 